services:
  mailserver:
    image: ghcr.io/docker-mailserver/docker-mailserver:latest
    container_name: openadmin_mailserver
    hostname: "${OVERRIDE_HOSTNAME:-local.host}"
    env_file: mailserver.env
    ports:
      - "25:25"       # SMTP  (explicit TLS => STARTTLS)
      - "143:143"     # IMAP4 (explicit TLS => STARTTLS)
      - "465:465"     # ESMTP (implicit TLS)
      - "587:587"     # ESMTP (explicit TLS => STARTTLS)
      - "993:993"     # IMAP4 (implicit TLS)
      - "110:110"     # POP3
      - "995:995"     # POP3 (with TLS)
      - "11334:11334" # https://docker-mailserver.github.io/docker-mailserver/latest/config/security/rspamd/#web-interface
    volumes:
      - ./docker-data/dms/mail-data/:/var/mail/
      - ./docker-data/dms/mail-state/:/var/mail-state/
      - ./docker-data/dms/mail-logs/:/var/log/mail/
      - ./docker-data/dms/config/:/tmp/docker-mailserver/
      - /etc/localtime:/etc/localtime:ro
      - /home/:/home/
      - /etc/openpanel/caddy/ssl/:/etc/openpanel/caddy/ssl/:ro # needed for SSL
    restart: always
    stop_grace_period: 1m
    healthcheck:
      test: "ss --listening --tcp | grep -P 'LISTEN.+:smtp' || exit 1"
      timeout: 3s
      retries: 0
    networks:
      - network
    cap_add:
      - NET_ADMIN
  
  roundcube:
    image: roundcube/roundcubemail
    container_name: openadmin_roundcube
    hostname: localhost
    env_file: mailserver.env
    restart: always
    environment:
      - ROUNDCUBEMAIL_DEFAULT_HOST=${OVERRIDE_HOSTNAME:+ssl://$OVERRIDE_HOSTNAME}${OVERRIDE_HOSTNAME:-openadmin_mailserver}
      - ROUNDCUBEMAIL_DEFAULT_PORT=${OVERRIDE_HOSTNAME:+993}
      - ROUNDCUBEMAIL_SMTP_SERVER=${OVERRIDE_HOSTNAME:+ssl://$OVERRIDE_HOSTNAME}${OVERRIDE_HOSTNAME:-openadmin_mailserver}
      - ROUNDCUBEMAIL_SMTP_PORT=${OVERRIDE_HOSTNAME:+465}
      - ROUNDCUBEMAIL_PLUGINS=archive,zipdownload,autologon
    ports:
      - "8080:80"
    networks:
      - network

networks:
  network:
    driver: bridge
